#Server
APP_PORT=8080
APP_ENV=development

#PostgresSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=urlify
DB_PASSWORD=urlify_secret
DB_NAME=urlify_db
DB_SSLMODE=disable

#Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

#JWT
JWT_SECRET=your-super-secret-key-change-this
JWT_EXPIRY_HOURS=24

#Rate limiter
RATE_LIMIT_CAPACITY=10
RATE_LIMIT_REFILL_RATE=1

#Worker
HEALTH_CHECK_INTERVAL_SECONDS=300
HEALTH_CHECK_WORKER_POOL_SIZE=10

#Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=your_password_here

GF_SMTP_ENABLED=true
GF_SMTP_HOST=smtp.gmail.com:587
GF_SMTP_USER=your_email@gmail.com
GF_SMTP_PASSWORD=your_app_password
GF_SMTP_FROM_ADDRESS=your_email@gmail.com
GF_SMTP_FROM_NAME=URLify Email Alerts
GF_SMTP_SKIP_VERIFY=true